@namespace MauiLearningPlatform.Components.Exercises


    <h1>Navigation</h1>

    <h2>Setup</h2>
    <ul>
        <li>Open het project <strong>MauiOefeningen</strong>.</li>
    </ul>

    <h2>Oefening - Persoon</h2>
    <p>Maak een model <code>Persoon</code> met twee properies:</p>
    <ul>
        <li><code>string Voornaam</code></li>
        <li><code>datetime Geboortedatum</code> (standaard huidige datum)</li>
    </ul>
    <p>Maak een view om personen toe te voegen aan een <code>ObservableCollection</code> en toon deze op het scherm. Met een knop "Tonen" wordt deze <code>ObservableCollection</code> doorgegeven aan een tweede View waar de namen opnieuw getoond worden en waar je de gemiddelde leeftijd berekent.</p>

    <h2>Oefening GetallenDoorgeven</h2>
    <p>Geef twee getallen in op de eerste pagina en geef die door aan een tweede pagina. Toon op de tweede pagina welk getal het grootste of kleinste is.</p>
    <p>Op de tweede view wil je het resultaat tonen. Dit kun je doen door met een knop een methode te starten die getal1 en getal2 gaat vergelijken. Een andere manier is door een methode te starten als de pagina geladen wordt.</p>

    <h2>Menu</h2>
    <p>Zoek op volgende site hoe je je FlyoutMenu kunt organiseren zodat de oefeningen bij elkaar staan in tabs. <a href="https://learn.microsoft.com/en-us/dotnet/maui/fundamentals/shell/flyout?view=net-maui-8.0" target="_blank">https://learn.microsoft.com/en-us/dotnet/maui/fundamentals/shell/flyout?view=net-maui-8.0</a></p>

