@namespace MauiLearningPlatform.Components.Exercises

    <h1>Oefeningen Introduction</h1>

    <h2>Setup</h2>
    <ul>
        <li>Maak een nieuwe .NET MAUI app aan met als naam <strong>MauiOefeningen</strong>.</li>
        <li>Maak een map <strong>Views</strong> aan.</li>
        <li>Verwijder <code>MainPage.xaml</code>.</li>
        <li>Maak een nieuwe View <code>MainPage</code> aan in de map <strong>Views</strong>.</li>
        <li>Wijzig <code>AppShell.xaml</code>: Zet <code>FlyoutBehaviour</code> op <code>Flyout</code> en zorg dat <code>MainPage.xaml</code> in de map Views kan worden geladen.</li>
        <li>Wijzig <code>MainPage.xaml</code> zodat deze er uitziet als onderstaand voorbeeld. De fontsize is "Title".</li>
    </ul>

    <pre><code>MauiOefeningen</code></pre>
    <pre><code>Views</code></pre>
    <pre><code>MainPage</code></pre>
    <pre><code>AppShell.xaml</code></pre>
    <pre><code>MainPage.xaml</code></pre>

    <h2>Oefening 1</h2>
    <p>Maak een view <code>NaamTonenPage</code> die er als volgt uitziet:</p>
    <p>Voorzie navigatie in <code>AppShell.xaml</code>.</p>
    <pre><code>AppShell.xaml</code></pre>

    <h2>Oefening 2</h2>
    <p>Maak een View <code>VakPage.xaml</code> en ontwerp volgende pagina:</p>
    <pre><code>VakPage.xaml</code></pre>
    <p>Extra info over de layout en controls:</p>
    <ul>
        <li>Gebruik Margins om je controls mooi te schikken.</li>
        <li>De FontSize van de titel is Small.</li>
        <li>De afbeelding <code>pa.png</code> is 100 hoog en vind je terug in de map <code>Resources\images</code>.</li>
        <li>De voornaam is 200 pixels, de naam 500 pixels.</li>
        <li>De campuslocatie is 700 pixels.</li>
        <li>De lokaalnummer toont een numeriek toetsenbord.</li>
        <li>De datum moet je kunnen kiezen via een popup die een calender toont (ga op zoek in de controls, dit moet je niet zelf van 0 maken).</li>
        <li>De standaarddatum is 01/01/2000.</li>
        <li>De plus en min knop zijn een 'Stepper' control. De score is van 0 tot 20 en moet met stapjes van 1 naar boven of beneden gaan.</li>
    </ul>
    <pre><code>pa.png</code></pre>
    <p>Voorzie navigatie in <code>AppShell.xaml</code>.</p>
    <pre><code>AppShell.xaml</code></pre>

    <h2>Oefening 3</h2>
    <p>Maak een view <code>AfbeeldingenPage</code> die er als volgt uitziet:</p>
    <p>Kopieer de afbeeldingen <code>landschap1.jpg</code> tot <code>landschap5.jpg</code> naar de map <code>Resources\Images</code></p>
    <pre><code>Resources\Images</code></pre>
    <p>Voorzie navigatie in <code>AppShell.xaml</code>.</p>
    <pre><code>AppShell.xaml</code></pre>

    <h2>Optioneel</h2>
    <p>Probeer je app eens uit op een Android emulator. Hiervoor wijzig je de optie 'Windows Machine' naar je gewenste emulator. Visual Studio wijst je min of meer de weg, gebruik Google waar je vast komt te zitten.</p>
