@namespace MauiLearningPlatform.Components.Exercises


    <h1>Oefeningen CollectionViews, Models en Repositories</h1>

    <h2>Setup</h2>
    <ul>
        <li>Open het project <strong>MauiOefeningen</strong>.</li>
        <li>Maak een <code>BaseViewModel</code> aan en voeg een <code>[ObservableProperty]</code> toe voor title en getal.</li>
        <li>Maak een map <strong>Models</strong> aan.</li>
    </ul>

    <pre><code>BaseViewModel</code></pre>
    <pre><code>Models</code></pre>

    <h2>Oefening GetallenRij</h2>
    <p>Maak een view <code>GetallenRij</code> die er als volgt uitziet:</p>
    <p>Voeg getallen toe aan een <code>ObservableCollection</code> en bepaal het hoogste en het laagste getal. Een getal mag niet groter zijn dan 20. Indien dat het geval is, toon je een gepaste foutboodschap. Toon de rij in een <code>CollectionView</code>.</p>
    <p>Probeer ook eens om een getal te verwijderen op een bepaalde plaats?</p>

    <h2>Oefening Factuur</h2>
    <p>In deze opdracht ga je een factuur maken. Je maakt eerst een model <code>Product</code> met volgende properties: Naam, Prijs, Aantal en Totaal (Prijs x Aantal). Voeg nieuwe items toe aan een <code>ObservableCollection</code> producten. Elke keer je een nieuw product toevoegt, bereken je het subtotaal, btw en totaalprijs. Het resultaat ziet er als volgt uit:</p>

