@namespace MauiLearningPlatform.Components.Exercises

<div class="markdown-content">
    <h1>Repositories en Interfaces</h1>
    <p>In deze oefening gaan we aan de slag met Repositories en Interfaces. We gaan een applicatie maken om Games te beheren.</p>

    <h2>Opdracht</h2>
    <p>Maak een <code>GameRepository</code> en een <code>IGameRepository</code> interface. De repository moet methodes bevatten om games op te halen, toe te voegen en te verwijderen.</p>

    <h2>View</h2>
    <p>Gebruik de volgende XAML voor de <code>GamePage</code>:</p>

    <pre><code class="language-xml">
&lt;ContentPage xmlns="http://schemas.microsoft.com/dotnet/2021/maui"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:viewmodel="clr-namespace:MauiLearningPlatform.ViewModels"
             xmlns:model="clr-namespace:MauiLearningPlatform.Models"
             x:Class="MauiLearningPlatform.Views.GamePage"
             x:DataType="viewmodel:GameViewModel"
             Title="GamePage"&gt;
    &lt;Grid RowDefinitions="*,Auto" ColumnDefinitions="*,*" Margin="10"&gt;
        &lt;CollectionView Grid.Row="0" Grid.Column="0" Grid.RowSpan="2" ItemsSource="{Binding Games}" SelectedItem="{Binding SelectedGame}" SelectionMode="Single"&gt;
            &lt;CollectionView.ItemTemplate&gt;
                &lt;DataTemplate x:DataType="model:Game"&gt;
                    &lt;Frame&gt;
                        &lt;StackLayout&gt;
                            &lt;Label&gt;
                                &lt;Label.Text&gt;
                                    &lt;MultiBinding StringFormat="Naam: {0} ({1})"&gt;
                                        &lt;Binding Path="Naam"/&gt;
                                        &lt;Binding Path="Moeilijkheidsgraad"/&gt;
                                    &lt;/MultiBinding&gt;
                                &lt;/Label.Text&gt;
                            &lt;/Label&gt;
                            &lt;Label Text="{Binding Uitgever}"/&gt;
                        &lt;/StackLayout&gt;
                    &lt;/Frame&gt;
                &lt;/DataTemplate&gt;
            &lt;/CollectionView.ItemTemplate&gt;
        &lt;/CollectionView&gt;
        &lt;StackLayout Margin="10" Grid.Row="0" Grid.Column="1"&gt;
            &lt;HorizontalStackLayout&gt;
                &lt;Label Text="Id" WidthRequest="200" VerticalOptions="Center"/&gt;
                &lt;Entry Text="{Binding SelectedGame.Id}"/&gt;
            &lt;/HorizontalStackLayout&gt;
            &lt;HorizontalStackLayout&gt;
                &lt;Label Text="Naam" WidthRequest="200" VerticalOptions="Center"/&gt;
                &lt;Entry Text="{Binding SelectedGame.Naam}"/&gt;
            &lt;/HorizontalStackLayout&gt;
            &lt;HorizontalStackLayout&gt;
                &lt;Label Text="Moelijkheidsgraad" WidthRequest="200" VerticalOptions="Center"/&gt;
                &lt;Slider Value="{Binding SelectedGame.Moeilijkheidsgraad}" Minimum="1" Maximum="5" WidthRequest="100"/&gt;
            &lt;/HorizontalStackLayout&gt;
            &lt;HorizontalStackLayout&gt;
                &lt;Label Text="Uitgever" WidthRequest="200" VerticalOptions="Center"/&gt;
                &lt;Entry Text="{Binding SelectedGame.Uitgever}"/&gt;
            &lt;/HorizontalStackLayout&gt;
        &lt;/StackLayout&gt;
        &lt;HorizontalStackLayout Grid.Row="1" Grid.Column="1"&gt;
            &lt;Button Text="Toevoegen" Command="{Binding AddCommand}"/&gt;
            &lt;Button Text="Nieuw game" Command="{Binding NewCommand}" Margin="10,0"/&gt;
        &lt;/HorizontalStackLayout&gt;
    &lt;/Grid&gt;
&lt;/ContentPage&gt;
    </code></pre>
</div>
