@namespace MauiLearningPlatform.Components.Exercises


    <h1>Herhalingsoefening De Mol</h1>

    <h2>Opdracht</h2>
    <p>Deze Repo bevat de Models, Views en Repositories voor het project. Jouw taak is de Viewmodels te voorzien en de bindings in de Views zodat alle functionaliteiten werken. Je hoeft geen extra Views aan te maken. Werk met de eigenschap <code>isVisible</code> om bepaalde controls te tonen of te verbergen.</p>

    <h3>Functionaliteiten:</h3>
    <ul>
        <li>Toon op de <code>MainPage</code> de lijst met deelnemers (Volledige naam). Je kunt een deelnemer selecteren en daarna op de knop "Vragen beantwoorden" klikken. Nadat de deelnemer de vragenlijst beantwoord heeft, wordt deze verborgen (niet verwijderd!) in de lijst op de <code>MainPage</code>.</li>
        <li>Als je naar de <code>VraagPage</code> navigeert, geef je de geselecteerde Deelnemer en de volledige lijst van Deelnemers mee als argument.</li>
        <li>Op de <code>VraagPage</code> toon je telkens één vraag uit de <code>VraagRepository</code>. Toon onder de vraag de lijst van deelnemers. Als je op "Volgende" klikt, controleer je of er een optie geselecteerd is en of de geselecteerde optie het juiste antwoord is dat bij de vraag is opgegeven in de Repository. Als de vraag juist beantwoord is, verhoog je de score. Daarna toon je de volgende vraag. De knoppen Home en Controle zijn voorlopig nog verborgen.</li>
        <li>Als alle vragen beantwoord zijn, toon je de knop om terug te gaan naar <code>MainPage</code> en verberg je de knop om naar de volgende vraag te gaan.</li>
        <li>Als je terug naar de <code>MainPage</code> gaat, reset je de waarden zodat je terug een nieuwe vragenlijst kunt invullen. Je geeft de geselecteerde Deelnemer en de volledige lijst van Deelnemers mee als argument.</li>
        <li>Als een deelnemer pasvragen bezit, toon je de optie om een pasvraag te gebruiken, anders wordt deze verborgen. Een pasvraag betekent dat de score ook verhoogd wordt met 1.</li>
        <li>Als alle deelnemers de vragenlijst hebben beantwoord, krijg je de knop Controle te zien. Je navigeert dan naar de <code>ControlePage</code> en geeft als argument de lijst van deelnemers mee.</li>
        <li>Op de <code>ControlePage</code> geef je de voornaam van een deelnemer in. Als je op de knop "Controleer" drukt, controleer je of de persoon de Mol is en of de persoon de laagste score heeft. Als de deelnemer niet de Mol is en de laagste score heeft, veranderd de achtergrondkleur naar rood, anders naar groen.</li>
    </ul>

